aside {
    overflow: auto;
    margin: var(--universal-margin);
    text-align: center;
}

@media (min-width: 50em) {  /* Landscape */
    aside {
        height: calc(100vh);
        z-index: 2;
        position: sticky;
        top: 0;
    }
}
