<footer>
    <nav>
        Made by: <a href="https://kieransukachevin.github.io/kieran-sukachevin" target="_blank">Kieran Sukachevin</a>
        <ul>
            <li>
                <a href="https://www.instagram.com/kieran_suka/" target="_blank"><img alt="Instagram icon" src="assets/insta-logo.png"></a>
            </li>
            <li>
                <a href="https://github.com/kieransukachevin" target="_blank"><img alt="Github icon" src="assets/github-logo.png"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/kieran-sukachevin-365a87198/" target="_blank"><img alt="LinkedIn icon" src="assets/linkedin-logo.png"></a>
            </li>
        </ul>
    </nav>
</footer>
