<div class="footer-wrapper">
    <!-- <a href="https://open.spotify.com/"><img src="assets/Spotify_Logo_RGB_Green.png"></a> -->
    <a href="https://kieransukachevin.github.io/kieran-sukachevin">Kieran Sukachevin</a>
    <ul>
        <li>
            <a href="https://www.instagram.com/kieran_suka/"><img src="assets/insta-logo.png"></a>
        </li>
        |
        <li>
            <a href="https://github.com/kieransukachevin"><img src="assets/github-logo.png"></a>
        </li>
        |
        <li>
            <a href="https://www.linkedin.com/in/kieran-sukachevin-365a87198/"><img src="assets/linkedin-logo.png"></a>
        </li>
    </ul>
</div>
