footer {
    text-align: center;
    background-color: var(--content-color);
    width: 100%;
    height: var(--profile-size);
    padding: var(--universal-margin);
}

img {
    max-width: 1rem;
}

ul {
    margin: var(--universal-margin);
    padding: 0;
    list-style: none;
}

li {
    margin: var(--universal-margin);
    display: inline-block;
}