<app-hamburger-menu #toggleButton (click)="toggleReveal()" [hide]="hideOrReveal"></app-hamburger-menu>
<section class="{{hideOrReveal}}">
    <div #shadowArea class="inset-shadow"></div> <!-- seperate element used for box shadow -->
    <div #playlistsWrapper class="playlists-area-wrapper">
        <div *ngFor="let playlist of playlists" class="thumbnail-area">
            <app-playlist-thumbnail [playlist]="playlist"></app-playlist-thumbnail>
        </div>
        <ng-container *ngIf="next">
            <div class="button-area">
                <button (click)="morePlaylistsClick()">Load More Playlists</button>
            </div>
        </ng-container>
    </div>
</section>    
