.button-area {
    text-align: center;
}

.playlists-area-wrapper {
    max-height: calc(100vh);
    overflow: auto;
    width: 20em;
}

section {
    background-color: var(--background-color);
    border-radius: var(--universal-margin);
    margin: var(--universal-margin);
    transition: left var(--transition-speed); 
    position: fixed;
    top: calc(var(--profile-size) + 2 * var(--hamburger-size) + var(--universal-margin));
    z-index: 3;
}

app-hamburger-menu {
    position: fixed;
    top: var(--profile-size);
    z-index: 3;
}

/* Styles for the inset shadow on scroll */

.inset-shadow {
    transition: box-shadow var(--transition-speed);
    position: absolute;
    top: 0;
    width: 100%;
}

.is-scrolled {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.231);
}

/* Styles for a hiding and revealing elements */

.reveal {
    left: 0;
}

.hide {
    left: -110%;
}

@media (min-width: 50em) {  /* Landscape */
    app-hamburger-menu {
        display: none;  /* Do not display in Lansdcape mode */
    }

    section {
        position: sticky;
        top: 0;
        z-index: 2;
    }
}
