.login-area {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: block;
}
.login-area h2 {
    text-align: center;
}
button {
    margin-top: 20px;
    height: 60px;
    width: 200px;
}
