.main-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
}

.header-wrapper {
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--content-color);
    z-index: 2;
}

h1 {
    padding: 0.5em;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    min-width: 3em;
    text-align: left;
}

@media (min-width: 50em) {  /* Landscape */
    .main-wrapper {
        display: grid;
        grid-template-columns: min-content auto min-content;
    }
}

@media (max-width: 50em) {  /* Portrait */
    .main-wrapper {
        display: block;
    }
}
    