.profile {
    max-width: 30%;
    overflow: hidden;
    position: fixed;
}
.playlists-area {
    /* max-width: 50%; */
    display: block;
    margin-left: 40%;
}
.header-area {
    /* position: fixed; */
    width: 100%;
}
h1 {
    text-align: left;
    margin-left: 20px;
}
