<section *ngIf="playlistLoaded; else loading">
  <table>
    <thead>
      <tr>
        <th colspan="5">
          <a href="{{playlistUrl}}" target="_blank"><h1>{{playlistName}}</h1></a>
        </th>
      </tr>
      <tr #pTableCategories class="sorting-categories">
        <p>Sort by:</p>
        <th>Track</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>
      <!-- <tr #pTableCategories class="track-categories">
        <th></th>
        <th>Track</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr> -->
    </thead>
    <tbody>
      <ng-container *ngFor="let song of playlist">
        <tr class="song-row">
          <td class="img-cell"><img alt="{{song.track.name}} cover photo" src="{{song.track.album.images[2].url}}"></td>
          <td><a href="{{song.track.external_urls.spotify}}" target="_blank">{{song.track.name}}</a></td>
          <td><a href="{{song.track.album.external_urls.spotify}}" target="_blank">{{song.track.album.name}}</a></td>
          <td><a href="{{song.track.artists[0].external_urls.spotify}}" target="_blank">{{song.track.artists[0].name}}</a></td>
          <td class="duration-cell">{{millisToMinutesAndSeconds(song.track.duration_ms)}}</td>  
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
<ng-template #loading>
    <div class="loading-area">
        <div class="loader"></div>
    </div>
</ng-template>
