<div style="height: 90%" *ngIf="playlistLoaded; else loading">
    <iframe [src]="playlistUrl"
    width="100%" height="100%" frameBorder="0" allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>  
    <div class="button-area">
        <button (click)="alphabetize()" class="alphabetize-button">Alphabetize</button>
    </div>  
</div>
<ng-template #loading>
    <div class="loading-area">
        <div class="loader"></div>
    </div>
</ng-template>
