.user-image {
    display: inline-flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: transparent;
}
.meta-data {
    display: inline-block;
    background-color: transparent;
}
a {
    background-color: transparent;
}
.title-area {
    background-color: transparent;
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title {
    background-color: transparent;
}
.title:hover {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}
h2 {
    display: none;
}
.user {
    max-width: 60px;
    border-radius: 50%;
}
.logout-button {
    height: 100%;
    display: inline-flex;
    float: right;
    background-color: transparent;
}
@media (min-width: 768px) and (orientation: landscape) {
    h2 {
        margin-left: 20px;
        margin-right: 20px;
        display: block;
    }
}
