.user-image {
    display: inline-flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    background-color: transparent;
}
.meta-data {
    display: inline-block;
    background-color: transparent;
}
a {
    background-color: transparent;
}
h1 {
    background-color: transparent;
    display: inline-flex;
    margin-top: 20px;
}
h2 {
    display: none;
}
img {
    max-width: 60px;
    border-radius: 50%;
}
.logout-button {
    display: inline-flex;
    float: right;
    background-color: transparent;
    margin-right: 20px;
    margin-top: 20px;
}
@media (min-width: 768px) and (orientation: landscape) {
    h2 {
        margin-left: 10px;
        display: block;
    }
}
