.user-image {
    display: inline-flex;
    max-width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.meta-data {
    display: inline-block;
    background-color: transparent;
}
tr {
    background-color: transparent;
    max-width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
    overflow: scroll;
}
th, td {
    background-color: transparent;
    text-align: left;
}
td {
    max-width: 300px;
    overflow: scroll;
    font-weight: lighter;
}
a {
    background-color: transparent;
}
h1 {
    background-color: transparent;
    display: inline-flex;
    margin-top: 20px;
}
.logout-button {
    display: inline-flex;
    float: right;
    background-color: transparent;
    margin-right: 20px;
    margin-top: 20px;
}
