.playlist-thumbnail-area {
    background-color: rgb(24, 24, 24);
    height: 100%;
    width: 100%;
    display: block;
}
.playlist-thumbnail-area:hover {
    background-color: rgb(61, 61, 61);
}
.image-area {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: left;
    background-color: transparent;
    max-height: 100%;
}
.title-area {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
    text-align: left;
    overflow: hidden;
    background-color: transparent;
}
button {
    font-size:x-large;
    height: 100px;
    width: 300px;
}
p {
    font-weight: lighter;
    text-align: left;
    background-color: transparent;
}
@media (max-width: 60em) or (orientation: portrait) {
    .title-area {
        display: none;
    }
    .image-area {
        display: flex;
        margin: auto;
    }
    .playlist-thumbnail-area:hover .title-area {
        display: block;
    }
}
