.playlist-thumbnail-area {
    background-color: rgb(24, 24, 24);
    height: 100%;
    width: 100%;
    display: block;
}
button {
    font-size:x-large;
    height: 100px;
    width: 300px;
}
p {
    font-weight: lighter;
    text-align: left;
    background-color: transparent;
}
.image-area {
    display: flex;
    max-width: 50%;
    vertical-align: top;
    margin: auto;
    background-color: transparent;
    max-height: 100%;
}
.title-area {
    width: 40%;
    margin-left: 10px;
    background-color: transparent;
    display: none;
}
.playlist-thumbnail-area:hover {
    background-color: rgb(61, 61, 61);
}
.playlist-thumbnail-area:hover .title-area {
    display: block;
}
@media (min-width: 768px) and (orientation: landscape) {
    .playlist-thumbnail-area:hover .title-area {
        display: inline-block;
    }
    .title-area {
        text-align: left;
        display: inline-block;
        overflow: hidden;
    }
    .image-area {
        display: inline-block;
        text-align: left;
    }
}
